html {
  height: 100%;
  width: 100%;
  font-family: "Helvetica";
}

  body {
    height: 100%;
    width: 100%;
    background-image: url("../media/bgimgname.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 -200px;
    margin: 0;
  }

  #skull {
    width: 100%;
    position: absolute;
    z-index: 1000;
  }

    #skull::before {
      height: 350px;
      width: 100%;
      content: "";
      display: block;
    }

    #menu {
      height: 50px;
      width: 100%;
      color: #FFF;
      background: #222;
      text-align: center;
      font-size: 8pt;

      -webkit-box-shadow: 0 0 15px -2px #000;
      -moz-box-shadow: 0 0 15px -2px #000;
      -o-box-shadow: 0 0 15px -2px #000;
      box-shadow: 0 0 15px -2px #000;
    }
      #menu img {
        max-width: 200px;
        position: relative;
        top: -25px;
        left: 40px;
      }

      #menu li {
        height: 50px;
        width: 12%;
        margin: 0;
        line-height: 50px;
        vertical-align: top;
        display: inline-block;
      }

      #menu .left {
        position: relative;
        left: 40px;
      }

      #menu .right {
        position: relative;
        left: -40px;
      }

  #view {
    width: 60%;
    position: absolute;
    top: 0;
    /*bottom: 0;*/
    margin: 400px 0 0 0;
    padding: 30px 20%;
    background-color: #FFF;
  }
